@font-face {
  font-family: 'puzz';
  src:  url('fonts/puzz.eot?ml0cul');
  src:  url('fonts/puzz.eot?ml0cul#iefix') format('embedded-opentype'),
    url('fonts/puzz.ttf?ml0cul') format('truetype'),
    url('fonts/puzz.woff?ml0cul') format('woff'),
    url('fonts/puzz.svg?ml0cul#puzz') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'puzz' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-url_link:before {
  content: "\e900";
}
.icon-menu_handle:before {
  content: "\e901";
}
.icon-format_Bold:before {
  content: "\e902";
}
.icon-puzz_play:before {
  content: "\e903";
}
.icon-make_Puzzle:before {
  content: "\e904";
}
.icon-format_Puzzle:before {
  content: "\e905";
}
.icon-format_Strikethrough:before {
  content: "\e906";
}
.icon-format_Underlined:before {
  content: "\e907";
}
.icon-format_italic:before {
  content: "\e908";
}
.icon-MixNote:before {
  content: "\e909";
}
.icon-Recall:before {
  content: "\e90a";
}
.icon-Recommend:before {
  content: "\e90b";
}
.icon-Star:before {
  content: "\e90c";
}
.icon-Popularity:before {
  content: "\e90d";
}
.icon-Mix:before {
  content: "\e90e";
}
.icon-Add:before {
  content: "\e90f";
}
.icon-Close:before {
  content: "\e910";
}
.icon-Replay:before {
  content: "\e911";
}
.icon-block_message:before {
  content: "\e912";
}
.icon-Cheat:before {
  content: "\e913";
}
.icon-Prev:before {
  content: "\e914";
}
.icon-Next:before {
  content: "\e915";
}
.icon-format_quiz:before {
  content: "\e916";
}
.icon-questionMark:before {
  content: "\e917";
}
.icon-Trash:before {
  content: "\e918";
}
.icon-Sender:before {
  content: "\e919";
}
.icon-NoteOutline:before {
  content: "\e91a";
}
.icon-Note:before {
  content: "\e91b";
}
